body {
  font-family: Arial, sans-serif;
  background-color: #dda5a5; /* Light mode background */
  color: #333; /* Light mode text color */
}

.App {
  max-width: 700px;
  margin: 114px auto;
  padding: 46px;
  background-color: #3de4db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
}
.dark-mode {
  background-color: #0c0b0b; /* Dark mode background */
  color: #ffffff98; /* Dark mode text color */
}
